<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregable Websockets</title>
</head>
<body>
    <h1>ENTREGABLE WEBSOCKETS</h1>
    {{{body}}}
</body>

</html>